# .gitignore Python
**/.idea/
**/__pycache__/
**/result/
**/.ipynb_checkpoints/
**/*.pickle
.vscode/
**/*.mat
**/*.model

# .gitignore LaTeX
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.synctex.gz

# ignore git repos that are needed to use openaigym + universe / compile everything
go-vncdriver
gym
universe

# UNIX scripts
**/*.sh
